<% if @no_timeline_data %>
  <div id="no_data">
    <%= t('.no_data') %>
  </div>
<% else %>
<style>
.wrapper
{
	height:100% !important;
}
section
{height:100%;}
	.hsContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    opacity: 0;
}
.hsContent {
    max-width: 450px;
    margin: -150px auto 0 auto;
    display: table-cell;
    vertical-align: middle;
    color: #ebebeb;
    padding: 0 8%;
    text-align: center
}
	.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}
#intro .bc {background-image:url('assets/hamqari_timeline.png')}
</style>
<div class="wrapper">
	<section id="intro">
	    <div class="bcg"
	        data-center="background-position: 50% 0px;"
	        data-top-bottom="background-position: 50% -100px;"
	        data-anchor-target="#intro">
	        <div class="hsContainer">
	            <div class="hsContent"
	                data-center="opacity: 1"
	                data-106-top="opacity: 0"
	                data-anchor-target="#intro h2"
	            >
	                <h2>Fade out elements before <br>they leave viewport</h2>
	            </div>
	        </div>
	    </div>
	</section>
	<section class="timeline">
		<div id="timeline-embed"></div>	  	
	</section>
</div>

<!-- 

  <div class="intro">intro</div>
  <div class="about">about</div>  
  <div class="timeline">
  timeline
	
  </div>  
  </div> -->
<% end %>

