.about {
  color: #fff;
  font-weight: bold;
  font-family: bpg_dejavu_light;
  background-color: #c56d38;
  width: 500px;
  padding: 25px;
  position: absolute;
  top: 120%;
  left: 50%;
  margin-left: -275px;
  opacity: 0.75;

  @media (max-width: 1260px) {
    width: 350px;
    padding: 15px;
    position: absolute;
    top: 120%;
    left: 50%;
    margin-left: -175px;
  }

  @media (max-width: 1015px) {
    width: 350px;
    padding: 15px;
    position: absolute;
    top: 120%;
    left: 50%;
    margin-left: -175px;
  }

  @media (max-height: 800px) {
    width: 350px;
    padding: 15px;
    position: absolute;
    top: 120%;
    left: 50%;
    margin-left: -175px;
  }

  @media (max-width: 767px) {
    width: 250px;
    padding: 15px;
    position: absolute;
    top: 120%;
    left: 50%;
    margin-left: -140px;
  }

  @media (max-height: 680px) {
    width: 350px;
    padding: 15px;
    position: absolute;
    top: 120%;
    left: 50%;
    margin-left: -175px;
  }

  @media (max-width: 400px) {
    top: 120%;
  }
}
