body#body_timeline {
  .about {
    color:#fff;
    font-weight: bold;
    font-family: bpg_dejavu_light;
    background-color: #c56d38;
    width:500px;
    padding:25px;
    position:absolute;
    top: 120%;
    left:50%;
    margin-left: -275px;
    opacity:0.75;
  }
}

@media (max-width: 767px) {
  .about {
    width:250px;
    padding:15px;
    position:absolute;
    top: 120%;
    left:50%;
    margin-left: -140px;
  }
}

@media (max-width: 400px) {
  body#body_timeline {
    .intro {
      .about {
        top: 120%;
      }
    }
  }
}

@media (max-height: 800px) {
  body#body_timeline {
    .intro {
      .about {
        width:350px;
        padding:15px;
        position:absolute;
        top: 120%;
        left:50%;
        margin-left: -175px;
      }
    }
  }
}

@media (max-height: 680px) {
  body#body_timeline {
    .intro {
      .about {
        width:350px;
        padding:15px;
        position:absolute;
        top: 120%;
        left:50%;
        margin-left: -175px;
      }
    }
  }
}

@media (max-width: 1260px) {
  body#body_timeline {
    .intro {
      .about {
        width:350px;
        padding:15px;
        position:absolute;
        top: 120%;
        left:50%;
        margin-left: -175px;
      }
    }
  }
}

@media (max-width: 1015px) {
  body#body_timeline {
    .intro {
      .about {
        width:350px;
        padding:15px;
        position:absolute;
        top: 120%;
        left:50%;
        margin-left: -175px;
      }
    }
  }
}
