
/* timeline styles */
body#body_timeline {

  font-family: dejavu;
  height:100% !important;
  width:100% !important;
  margin:0px !important;
  padding:0px !important;

  .scroll-wrapper
  {
    height:100%;
    width:100%;
    margin:0px !important;
    padding:0px !important;
  }

  .intro
  {
    position:absolute;
    height:100%;
    width:100%;

    #panorama
    {
      position:fixed;
    }

    .stamp
    {
      width:474px;
      height:474px;
      position:absolute;
      top: 27%;
      left: 50%;
      margin-left: -237px;
/*      margin-top: -237px; */
    }


    .about
    {
      color:#fff;
      font-weight: bold;
      font-family: bpg_dejavu_light;
      background-color: #c56d38;
      width:500px;
      padding:25px;
      position:absolute;
      top: 120%;
      left:50%;
      margin-left: -275px;
      opacity:0.75;
    }

  }



  .lang_switcher
  {
    position:fixed;
    top:-40px;
    right:-40px;
    background-color: #c56d38;
    color:#fff;
    font-weight: bold;
    font-size:17px;
    padding:5px;
    border-radius: 100%;
    height:80px;
    width:80px;
    opacity:0.67;
    z-index: 157;
    color:#fff;
    text-transform: uppercase;

    a
    {
      color:#fff;
      text-decoration:none;
      position:relative;
      top:45px;
      left:15px;
      border-radius: 100%;
      height:80px;
      width:80px;
    }
    &:hover
    {
      color:#fff;
      opacity:1;
    }
  }
  .timeline
  {
    position:absolute;
    height:100%;
    width:100%;
    top:200%;
  }















  #container-content{
	  padding-left: 0;
	  padding-right: 0;
    padding-top: 50px;
    width: 100%;
  }


  #search-alert {
    background-color: #3c3c3c;
    border: 1px solid #242424;
    color: #fff;
    font-family: dejavu;
    padding: 7px 10px;
    z-index: 1111;
    display: none;
    text-align: center;
    @width: 300px;
    width: @width;
    position: absolute;
    top: 55px;
    left: 0px;
  /*
    left: 50%;
    margin-left: -@width/2;
  */
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }

  .navbar
  {
    margin-bottom:0px;
  }
  .navbar .navbar-inner{
    background: #242424;
	  height: 70px;

    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
	  border: none;

    .container-fluid{
      padding-right: 0;

      .navbar-search{
        margin-right: 30px;
        padding-top: 4px;
        position: relative;
        input{
          background: #3c3c3c;
          border-color: #242424;
          padding-right: 27px;
          color: #fff;
	        -webkit-box-shadow: none;
	        -moz-box-shadow: none;
	        box-shadow: none;
	        text-shadow: none;
        }
        .imgs {
          position: absolute;
          top: 13px;
          right: 11px;
          img {
            vertical-align: top;
            &:first-of-type {
              display: block;
            }
            &:last-of-type {
              display: none;
              position: relative;
              top: 2px;
              cursor: pointer;
            }
          }
        }
        &.focused {
          img {
            &:first-of-type {
              display: none;
            }
            &:last-of-type {
              display: block;
            }
          }
        }
      }

      #category_nav{
        margin-left: 10px;
        li{
          padding-top: 7px;
          a{
	          color: grey !important;
            font-family: bpg_dejavu_light;
            font-size: 14px;
            font-weight: bold;
            text-transform: capitalize;
            &:hover{
      	      color: #fff !important;
            }
          }
        }
      }
      #admin_menu{
        li {
          height: auto;
        }
        padding-top: 7px;
        a{
          color: #000;
          font-family: dejavu;
          font-size: 16px;
        }
        & > a{
          color: #fff;
          font-weight: bold;
          .caret {
            border-top-color: #fff;
            border-bottom-color: #fff;
            }
        }
      }
    }
  }

  #social_links{
    margin-right: 30px;
    li {
      padding-top: 1px;
    }
    a {
      padding-left: 5px;
      padding-right: 5px;
      img:nth-child(1){
        display: inline;
      }
      img:nth-child(2){
        display: none;
      }
      &:hover {
        img:nth-child(1){
          display: none;
        }
        img:nth-child(2){
          display: inline;
        }
      }
    }
  }

  .nav li {
	  height: 50px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }

  .brand {
    padding:4px 0px 0px 7px;
        font-size: 24px;
	  font-weight: bold;
    text-transform: uppercase;
    color: #fff !important;
    font-family: bpg_dejavu_bold;
    img{
      float: left;
    }
    span{
      display: inline-block;
      padding-top: 27px;
      padding-left: 10px;
    }
  }
  .pull-right{
    padding-top: 12px;
  }
  /* timeline text styles */
  .story_cat_tags{
    font-size: 11px;
    margin-top: -13px;
    margin-bottom: 9px;
    color: #6b6b6b;
    & > div{
/*      width: 48%;
      float: left;*/
      font-family: dejavu !important;
      .link_header{
        font-family: dejavu !important;
        color: #fff;
      }
      a{
        font-family: dejavu !important;
        background-color: #fff;
        padding: 5px 10px;
        display: inline-block;
        text-transform: capitalize;
        color: #6b6b6b;
        margin-right: 3px;
        margin-bottom: 3px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;
        border-radius: 5px;
        margin-left: 4px;
        text-decoration: none;
        -webkit-box-shadow: 2px 2px 0px rgb(217, 217, 221);
           -moz-box-shadow: 2px 2px 0px rgb(217, 217, 221);
                box-shadow: 2px 2px 0px rgb(217, 217, 221);
        &:hover{
          background-color: #3c3c3c;
          color: #fff;
          -webkit-box-shadow: none;
             -moz-box-shadow: none;
                  box-shadow: none;
        }
      }
    }
  }

  /* no data for timeline */
  #no_data{
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    padding-left: 20px;
  }


}

.vco-slider .slider-item .content .content-container .text .container h2.date {
  font-size: 15px !important;
  margin-bottom: 10px;
  color:  #c56d38 !important;
  font-family: dejavu_light !important;
}

.vco-notouch .vco-navigation .timenav .content .marker .flag .flag-content h3, .vco-notouch .vco-navigation .timenav .content .marker .flag-small .flag-content h3 {
  margin-left: 4px !important;
  line-height: 15px !important;
}

.vco-notouch .vco-navigation .timenav .content .marker:not(.active):not(:hover) .flag .flag-content h3, .vco-notouch .vco-navigation .timenav .content .marker:not(.active):not(:hover) .flag-small .flag-content h3 {
  color: #aaa !important;
}



.nav-next, .nav-previous {
  .date {
    opacity: .2;
  }
  &:hover {
    .date {
      opacity: 1;
    }
  }
}


.vco-timeline .vco-navigation .timenav-background .timenav-interval-background {
  top: 150px !important;
  border-top: 1px solid #9FAFD9;
}



.slider-item .event_social_links{
    span, a{
      padding:0px 45px 45px 0;
      margin-right: 15px;
      &:hover{
        cursor: pointer;
        opacity: 0.7;
      }
      &.st_facebook_custom, &.fbshare{
        background: url("fb.png") no-repeat scroll left top transparent;
      }
      &.st_twitter_custom{
        background: url("twitter.png") no-repeat scroll left top transparent;
      }
      &.st_sharethis_custom{
        background: url("share.png") no-repeat scroll left top transparent;
      }
    }
    span:last-of-type{
      margin-right: 0;
    }
}

@media (max-height: 800px) {
  body#body_timeline {
    .intro
    {
      .stamp
      {
        position:absolute;
        top: 35%;
        left: 50%;
        margin-left: -237px;
        margin-top: -88px;
      }
      .about
      {
        width:350px;
        padding:15px;
        position:absolute;
        top: 120%;
        left:50%;
        margin-left: -175px;
      }
    }
  }
}

@media (max-height: 680px) {
  body#body_timeline {
    .intro
    {
      .stamp
      {
        position:absolute;
        top: 31%;
        left: 50%;
        margin-left: -237px;
        margin-top: -88px;
      }
      .about
      {
        width:350px;
        padding:15px;
        position:absolute;
        top: 120%;
        left:50%;
        margin-left: -175px;
      }
    }
  }
}
@media (max-width: 1260px) {
  body#body_timeline {
    padding: 70px 10px 0;

    .intro
    {
      .stamp
      {
        position:absolute;
        top: 25%;
        left: 50%;
        margin-left: -237px;
        margin-top: -88px;
      }
      .about
      {
        width:350px;
        padding:15px;
        position:absolute;
        top: 120%;
        left:50%;
        margin-left: -175px;
      }
    }

    .navbar .navbar-inner {
      .brand {
        padding-left: 23px;
        padding-top: 11px;
        img{
          width: 30px;
        }
        span{
          padding-top: 20px;
        }
      }
      & > .container-fluid {
        padding-left: 0px;
      }
      .nav.pull-right:first-of-type {
        margin-right: 0px;
      }
    }
    #search_box {
      width: 120px;
    }
    #social_links {
      margin-right: 5px;
    }
    .navbar .navbar-inner .container-fluid .navbar-search {
      margin-right: 5px;
    }
  }
}

.navbar-inner {
  .navbar-search {
  }
  .nav-collapse {
    float: left;
  }
}

@media (max-width: 1015px) {
  body#body_timeline {
    .intro
    {
      .stamp
      {
        position:absolute;
        top: 25%;
        left: 50%;
        margin-left: -237px;
        margin-top: -88px;
      }
      .about
      {
        width:350px;
        padding:15px;
        position:absolute;
        top: 120%;
        left:50%;
        margin-left: -175px;
      }
    }

    .navbar .navbar-inner {
      height: 50px;
      .brand {
        padding-left: 0;
        padding-top: 0;
        font-size: 11px;
        img{
          width: 25px;
        }
        span{
          padding-top: 14px;
        }
      }
      .navbar-search {
        margin-top: 1px;
      }
      .nav-collapse {
        float: none;
        background: #3c3c3c;
      }
      #social_links {
        margin-bottom: 0px;
      }
      button.btn-navbar {
        background: #3c3c3c;
        &:hover {
          background: #6c6c6c;
        }
      }
    }
    .slider-item .event_social_links{
      margin-bottom: 33px;
    }
  }
}




@media (max-width: 767px) {
  body#body_timeline {
    .intro
    {
      .stamp
      {
        width:237px;
        height:237px;
        position:absolute;
        top: 25%;
        left: 50%;
        margin-left: -116px;
        margin-top: -33px;
      }
      .about
      {
        width:250px;
        padding:15px;
        position:absolute;
        top: 120%;
        left:50%;
        margin-left: -140px;
      }
    }
    .timeline
    {
      position:absolute;
      top:315%;
    }
  }
}

@media (max-width: 400px) {
  body#body_timeline {
    .intro
    {
      .about
      {
        top: 120%;
      }
    }
    .timeline
    {
      top:250%;
    }
  }
}
