/* timeline styles */
body#body_timeline {
  font-family: bpg_nino;
  background-image:url('page_bg.jpg');

  #container-content{
	  padding-left: 0;
	  padding-right: 0;
    padding-top: 50px;
    width: 100%;
  }


  #search-alert {
    background-color: #656aa8;
    border: 1px solid #DBD0BA;
    color: #fff;
    font-family: arial;
    padding: 7px 10px;
    z-index: 1111;
    display: none;
    text-align: center;
    @width: 300px;
    width: @width;
    position: absolute;
    top: 55px;
    left: 0px;
  /*
    left: 50%;
    margin-left: -@width/2;
  */
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }


  .navbar .navbar-inner{
    background:url('header_bg.png?2') repeat-x;
	  height: 50px;

    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
	  border: none;

    .container-fluid{
      padding-right: 0;

      .navbar-search{
        margin-right: 30px;
        padding-top: 4px;
        position: relative;
        input{
          background: #fff;
          border-color: #6569a8;
          padding-right: 27px;
          color: #000;
        }
        .imgs {
          position: absolute;
          top: 13px;
          right: 11px;
          img {
            vertical-align: top;
            &:first-of-type {
              display: block;
            }
            &:last-of-type {
              display: none;
              position: relative;
              top: 2px;
              cursor: pointer;
            }
          }
        }
        &.focused {
          img {
            &:first-of-type {
              display: none;
            }
            &:last-of-type {
              display: block;
            }
          }
        }
      }

      #category_nav{
        margin-left: 10px;
        li{
          padding-top: 7px;
          a{
	          color: #fff !important;
            font-family: bpg_nino;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
          }
        }
      }
      #admin_menu{
        li {
          height: auto;
        }
        padding-top: 7px;
        a{
          color: #000;
          font-family: bpg_nino;
          font-size: 16px;
        }
        & > a{
          color: #fff;
          font-weight: bold;
          .caret {
            border-top-color: #fff;
            border-bottom-color: #fff;
            }
        }
      }
    }
  }

  .brand{
    padding-top: 17px;
  }
  #social_links{
    margin-right: 30px;
    li {
      padding-top: 1px;
    }
    a {
      padding-left: 5px;
      padding-right: 5px;
      img:nth-child(1){
        display: inline;
      }
      img:nth-child(2){
        display: none;
      }
      &:hover {
        img:nth-child(1){
          display: none;
        }
        img:nth-child(2){
          display: inline;
        }
      }
    }
  }

  .nav li {
	  height: 50px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }

  .brand {
    padding-top: 17px;
    font-size: 24px;
	  font-weight: bold;
    text-transform: uppercase;
    color: #fff !important;
    font-family: bpg_nino;
  }
  .lang_switcher, #about_link {
    padding-top: 7px;
	  padding-right: 20px;
    font-size: 16px;
	  font-weight: bold;
    text-transform: uppercase;
    a {
	    color: #fff !important;
      font-family: bpg_nino;
    } 
  }
  #about_link {
    
  }

  footer{
	  background:url('page_bg.jpg') !important;
  }

  /* timeline text styles */
  .story_cat_tags{
    font-size: 11px;
    margin-top: -13px;
    margin-bottom: 9px;
    color: #6b6b6b;
    & > div{
/*      width: 48%;
      float: left;*/
      font-family: 'Arial' !important;
      .link_header{
        font-family: 'Arial' !important;
        color: #fff;
      }
      a{
        font-family: 'Arial' !important;
        background-color: #fff;
        padding: 5px 10px;
        display: inline-block;
        text-transform: capitalize;
        color: #6b6b6b;
        margin-right: 3px;
        margin-bottom: 3px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;
        border-radius: 5px;
        margin-left: 4px;
        text-decoration: none;
        -webkit-box-shadow: 2px 2px 0px rgb(217, 217, 221);
           -moz-box-shadow: 2px 2px 0px rgb(217, 217, 221);
                box-shadow: 2px 2px 0px rgb(217, 217, 221);
        &:hover{
          background-color: #636aad;
          color: #fff;
          -webkit-box-shadow: none;
             -moz-box-shadow: none;
                  box-shadow: none;
        }
      }
    }
  }

  /* no data for timeline */
  #no_data{
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    padding-left: 20px;
  }


}

.vco-slider .slider-item .content .content-container .text .container h2.date {
  font-size: 15px !important;
  margin-bottom: 10px;
  color: #6b6b6b !important;
  font-family: bpg_arial !important;
}

.vco-notouch .vco-navigation .timenav .content .marker .flag .flag-content h3, .vco-notouch .vco-navigation .timenav .content .marker .flag-small .flag-content h3 {
  margin-left: 4px !important;
  line-height: 15px !important;
}

.vco-notouch .vco-navigation .timenav .content .marker:not(.active):not(:hover) .flag .flag-content h3, .vco-notouch .vco-navigation .timenav .content .marker:not(.active):not(:hover) .flag-small .flag-content h3 {
  color: #aaa !important;
}



.nav-next, .nav-previous {
  .date {
    opacity: .2;
  }
  &:hover {
    .date {
      opacity: 1;
    }
  }
}


.vco-timeline .vco-navigation .timenav-background .timenav-interval-background {
  top: 150px !important;
  border-top: 1px solid #9FAFD9;
}



.slider-item {
  .fbshare {
    margin-right: 10px;
    img {
      vertical-align: middle;
      position: relative;
      top: 1px;
    }
  }
  .st_sharethis_hcount, .st_twitter_hcount {
    .stArrow {
      display: none !important;
    }
  }
}

@media (max-width: 1200px) {
  body#body_timeline .navbar .navbar-inner {
    .brand {
      padding-left: 23px;
      padding-top: 14px;
    }
    & > .container-fluid {
      padding-left: 0px;
    }
    .nav.pull-right:first-of-type {
      margin-right: 0px;
    }
  }
  body#body_timeline .lang_switcher, body#body_timeline #about_link {
    padding-right: 3px;
    margin-right: 3px;
    a {
      padding: 10px 7px 5px;
    }
  }
  #search_box {
    width: 120px;
  }
  body#body_timeline #social_links {
    margin-right: 5px;
  }
  body#body_timeline .navbar .navbar-inner .container-fluid .navbar-search {
    margin-right: 5px;
  }
}

.navbar-inner {
  .navbar-search {
  }
  .nav-collapse {
    float: left;
  }
}

@media (max-width: 979px) {
  body#body_timeline .navbar .navbar-inner {
    .brand {
      padding-left: 3px;
      padding-top: 9px;
    }
    .navbar-search {
      margin-top: 1px;
    }
    .nav-collapse {
      float: none;
      margin-top: 45px;
      background: #4B4F7E;
    }
    #about_link, #social_links {
      margin-bottom: 0px;
    }
    button.btn-navbar {
      background: #383B5E;
      &:hover {
        background: #2C2E49;
      }
    }
  }
}





















