<!DOCTYPE html>
<html lang="<%= I18n.locale %>" style="width: 50%;">
  <head>
    <meta charset="utf-8">
  </head>
  <body>


    <div style="text-align: justify; width: 700px; font-family: arial;">
      <%= yield %>
    </div>



  </body>
</html>
